

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.woff') format('woff'),
         url('../fonts/Dosis-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Bold.woff') format('woff'),
url('../fonts/Dosis-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Regular.woff') format('woff'),
url('../fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Bold.woff') format('woff'),
url('../fonts/FiraCode-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gray-100 scroll-smooth dark:bg-dark-background dark:text-dark-paragraph transition-all duration-500
}


button {

    @apply transition-all duration-700

}

h1 {

    @apply dark:bg-transparent dark:text-dark-buttonBackground transition-all duration-500


}

h2 {

    @apply dark:bg-transparent dark:text-dark-buttonBackground transition-all duration-500


}

h3 {

    @apply transition-all duration-500


}

li {
    @apply transition-all duration-300

}

.slide-enter-from{
    opacity: 0;
    transform: translateX(-100%);

}

.slide-leave-to {
    opacity: 0;
    transform: translateX(100%);
}
.slide-enter-active,
.slide-leave-active {
    transition: 0.5s ease-out;
}
#smooth-content {
    will-change: transform;
}

/*
@keyframes bounce {
    from,
    20%,
    55%,
    85%,
    to {
        animation-timing-function: cubic-bezier(0.320, 0.70, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.700, 0.05, 0.855,
                0.06);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.700, 0.05, 0.855,
                0.06);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

*/




@layer base {


}



