

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gray-100  dark:bg-dark-background dark:text-dark-paragraph transition-all duration-500
}

nav {

    @apply bg-gray-100  dark:bg-dark-navigation dark:text-dark-paragraph transition-all duration-500

}
button {

    @apply transition-all duration-700

}

h1 {

    @apply dark:bg-transparent dark:text-dark-buttonBackground transition-all duration-500


}

h2 {

    @apply  dark:bg-transparent dark:text-dark-buttonBackground transition-all duration-500


}

h3 {

    @apply  dark:bg-transparent transition-all duration-500


}

li {
    @apply transition-all duration-300

}

@layer base {

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf ') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
